:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;  
}

#app {
  max-width: 1280px;
  margin: 2em auto;
  padding: 2em;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* Leave the h1 tag for #container-douban. */
#app p {
  font-size: 28px;
  font-weight: 700;
}

#container-douban {
  max-width: 1280px;
  margin: 2em auto;
  padding: 2em;
  background-color: #fff;
  border: 1px solid #ccc;;
}